<h2>Quienes somos</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus provident
  eveniet ratione sapiente harum accusantium nesciunt, nemo dicta nostrum
  molestias cum in minima perspiciatis architecto explicabo debitis totam
  voluptate alias!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
  voluptates facilis cumque. Harum velit natus, porro sint omnis ea veniam.</p>