<h2>En esta pagina tenemos distintos productos increibles</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit possimus,
  itaque necessitatibus rem ipsum ad pariatur vitae, porro et quas nobis omnis,
  impedit distinctio labore id earum tenetur quos nemo!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sapiente
  maiores recusandae, accusamus, et quasi odit reiciendis cupiditate quae
  distinctio, facilis qui vel architecto doloremque velit accusantium quibusdam!
  Recusandae, vel!
</p>