* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  border: 3px solid #000;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cuadro {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.cuadro:first-child {
  background-color: #f00;
}
.cuadro:nth-child(2) {
  background-color: #00f;
}
.cuadro:last-child {
  background-color: #363;
}

.container2 {
  border: 3px solid #000;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.container3 {
  width: 60vw;
  border: 3px solid #000;
  display: flex;
  justify-content: space-between;
}
